{% extends 'base.html' %}
{% block content %}

<div class="container">
    <p>
        <a href="{% url 'products' %}"><i class="fa fa-arrow-left"></i> Return to products</a>
    </p>
</div>

<div class="container" id="product-section">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ MEDIA_URL }}{{ product.image }}" alt="{{ product.title }}" class="image-responsive">
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <span class="showcase-title">{{ product.title }}&nbsp;&nbsp;</span><span class="showcase-price">€ {{ product.price }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div>Size: {{ product.get_size_display }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>{{ product.description }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 bottom-rule">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form method="post" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <div class="input-group">
                            <input name="quantity" type="number" min="1" max="999" value="1" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="submit">Add</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
