{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}

{% block content %}

<div class="container">
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th style="width:50%">Product</th>
                <th style="width:10%">Price</th>
                <th style="width:8%">Quantity</th>
                <th style="width:22%" class="text-center">Subtotal</th>
                <th style="width:10%"></th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
                <tr>
                    <td data-th="Product">
                        <div class="row">
                            <div class="col-sm-2 hidden-xs" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div>
                            <div class="col-sm-10">
                                <h4 class="nomargin">{{ item.product.name }}</h4>
                                <p>{{ item.product.description }}</p>
                            </div>
                        </div>
                    </td>
                    <td data-th="Price">{{ item.product.price }}</td>
                    <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                        {% csrf_token %}
                        <td data-th="Quantity">
                            <input name="quantity" type="number" class="form-control text-center" min="0" max="999" value="{{item.quantity}}">
                        </td>
                        <td data-th="Subtotal" class="text-center"></td>
                        <td class="actions" data-th="">
                        <button type="submit" class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>							
					    </td>
                    </form>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr class="visible-xs">
                <td class="text-center"><strong>{{ total }}</strong></td>
            </tr>
            <tr>
                <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                <td colspan="2" class="hidden-xs"></td>
                <td class="hidden-xs text-center"><strong>{{ total }}</strong></td>
                <td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
            </tr>
		</tfoot>
    </table>
</div>

<!-- <div class="row row-flex">
    {% for item in cart_items %}
    
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-display">
        
        <div class="product-image" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div>
        
        <div class="caption">
            <h3>{{ item.product.name }}</h3>
            <p class="product-description">{{ item.product.description }}</p>
            <p>{{ item.product.price }}</p>
            <p>
                
                <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputAmount" class="sr-only">New Qty</label>
                        <div class="input-group">
                            <div class="input-group-addon">Qty</div>
                            <input name="quantity" type="number" min="0" max="999" class="form-control">
                            <div class="input-group-addon">{{item.quantity}}</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Update</button>
                </form>
            </p>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row">
    <p>Total</p>
    <p><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ total }}</p>
    <a href="{% url 'checkout' %}" class="btn btn-success checkout" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
</div> -->

{% endblock %}